.heroSection {
    background-color: #FBFBFB;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 10rem 0 0 3rem;
    border: 1px solid #00000033;
    border-radius: 1rem;
    justify-content: space-between;
}

.code-container {
    position: relative;
    width: 20rem;
    justify-content: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.hero-text h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hero-text h1 span {
    font-weight: 600;
    color: #FC8A06;
}

.hero-text p {
    margin-bottom: 0.5rem;
}

.code-container button {
    position: absolute;
    right: 0;
    background: #FC8A06;
    width: 10rem;
    color: #fff;
    border: none;
    padding: 1rem ;
    border-radius: 2rem;
    font-size: 1rem;
    border: 1px solid #FC8A06;
}

.code-container input {
    width: 15rem;
    border: none;
    padding: 1rem 0.5rem;
    border-radius: 2rem;
    border: 1px solid #00000066;
    font-size: 1rem;
}

.hero-image {
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
}

.hero-1{
    height: 26rem;
    position: absolute;
    bottom: 0;
    right: 70%;
    z-index: 50;
}

.hero-2{
    height: 22rem;
    margin-right: 19rem;
    z-index: 7;
}

.orange {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30rem;
    height: 30rem;
    background: #FC8A06;
    z-index: 5;
    border-radius: 15rem 0 1rem 0;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.card-header p {
    font-size: 0.8rem;
    color: gray;
}

.card {
    background-color: #fff;
    border-radius: 1rem;
    position: absolute;
    padding: 0.5rem 1rem;
    z-index: 20;
}

.card:nth-child(1) {
    top: -10%;
    right: 20%;
}

.card:nth-child(2) {
    top: 30%;
    right: 5%;
}

.card:nth-child(3) {
    top: 70%;
    right: 20%;
}

.card img {
    width: 3rem;
}

.image {
    width: 100%;
}

.hero-deals {
    width: 90%;
    margin: 2rem auto;
}

.hero-deals-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.hero-deals-header-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.deals-card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer-discount {
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    right: 5%;
    padding: 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

.restaurant-name {
    font-weight: 400;
    position: absolute;
    color: #FC8A06;
    bottom: 20%;
    left: 5%;
}

.offer-name {
    font-weight: 600;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 1.5rem;
}

.hero-deals-body {
    display: flex;
    gap: 1rem;
    z-index: 1;
    position: relative;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.hero-categories {
    width: 90%;
    margin: 2rem auto;
}

.hero-categories-body {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.category-card-content {
    background: #F5F5F5;
    border-radius: 1rem;
    border: 1px solid #0000001A;
}

.category-card-content p {
    margin: 0.5rem 1rem;
}

.category-card-content p:nth-child(2) {
    font-weight: 600;
}

.category-card-content p:nth-child(3) {
    font-size: 0.8rem;
    color: #FC8A06;
}

.code-container button img {
    display: none;
}

.hero-categories h1 {
    margin-bottom: 1rem;
}

.hero-categories-body img {
    border-radius: 1rem 1rem 0 0;
}

@media screen and (max-width: 1200px) {
    .hero-1 {
        display: none;
    }

    .hero-2 {
        display: none;
    }

    .orange {
        display: none;
    }

    .card {
        display: none;
    }

    .heroSection {
        display: block;
        text-align: center;
        background-color: #03081F;
        color: #fff;
        padding: 2rem 0;
    }

    .code-container {
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
    }


    .code-container button {
        position: absolute;
        width: auto;
        right: 10%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .code-container button p {
        display: none;
    }

    .code-container button img {
        display: block;
        rotate: -90deg;
    }

    .hero-deals {
        width: 100%;
        padding: 0 1rem;
    }

    .hero-deals-header h1 {
        font-size: 1.5rem;
    }

    .hero-deals-header-nav {
        border: 1px solid black;
        padding: 1rem 2rem;
        border-radius: 3rem;
    }

    .hero-deals-header-nav p:not(:first-child) {
        display: none;
    }

    .hero-deals-header-nav::after {
        content: '';
        display: flex;
        align-items: center;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
        margin-left: 0.5rem;
        cursor: pointer;
    }

    .hero-deals-header-nav p:first-child {
        font-weight: 500;
    }


    .hero-deals-body {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .deals-card-content {
        min-width: 10rem;
    }


    .deals-card-content p {
        font-size: 0.8rem;
    }

    .deals-card-content p:nth-child(2) {
        font-size: 1rem;
    }

    .category-card-content{
        background-color: #03081F;
        color: #fff;
    }

    .hero-categories  {
        width: 100%;
        padding: 1rem;
        background-color: #D9D9D980;
    }

    .hero-categories h1 {
        font-size: 1.5rem;
    }

    .hero-categories-body{
        width: 100%;
        justify-content: center;
        padding: 1rem 0;
    }

    .category-card-content p:nth-child(2) {
        font-size: 0.8rem;
    }

    .category-card-content p:nth-child(3) {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 770px) {
    .hero-deals-header h1 {
        font-size: 1rem;
    }

    .hero-deals-header-nav {
        padding: 0.5rem 1rem;
    }

    .hero-categories h1 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 430px) {
    .category-card-content img {
        width: 10rem;
    }
}