@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/* body {
    width: 100%;
    overflow-x: hidden;
}

.app {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

.auth-container {
    display: flex;
    justify-content: center;
}

.auth-card{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-card-header img{
    width: 8rem;
    margin: 1rem 0;
}

.auth-card h1{
    margin: 1rem 0;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
}

.auth-card p{
    margin: 1rem 0;
    text-align: left;
    line-height: 1.5rem;
}

.auth-card-body{
    width: 60%;
    margin-bottom: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 60%;
}

form div{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

form input{
    border: 1px solid #00000066;
    border-radius: 1.2rem;
    padding: 0.7rem;
}

form button{
    border: none;
    border-radius: 1.2rem;
    padding: 0.7rem;
    background-color: #FC8A06;
    color: #fff;
    font-weight: 600;
}

.auth-footer span{
    color: #FC8A06;
}

.home-image{
    width: 50vw;
    height: 100vh;
}

.home-image img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 860px) {

    .home-image{
        display: none;
    }
    .auth-container {
        flex-direction: column-reverse;
    }

    .auth-card {
        width: 100vw;
        padding: 1rem;
    }

    .home-image {
        width: 100vw;
        height: 30vh;
    }

    .auth-card-body,
    form {
        width: 90%;
    }

    .auth-card h1 {
        font-size: 1.3rem;
    }

    .auth-card p {
        font-size: 0.9rem;
    }

    .app {
        padding: 0 0.5rem;
        width: 100%;
    }
}

@media (max-width: 675px) {
    .checkout-route ~ footer,
    .payment-route ~ footer {
        display: none !important;
    }
}

