nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 1.5rem auto;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

li {
    list-style: none;
}

.active {
    color: white;
    background-color: #FC8A06;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.profile-container {
    background-color: #03081F;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
}